/* PHASE 1: Header */

.header-nav-group {
    display: flex;
    background-color: red;
    color: white;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    justify-content: space-around;
}
.header a {
    display: block;
    font-style: none;
}

.header-logo {
    border-left: white solid 1px;
    border-right: white solid 1px;
}

.header-logo a {
    font-weight: bold;
}

.header-list-group li{
    display: inline-block;
    
    align-content: flex-end;
    border-left: white solid 1px;
    border-right: white solid 1px;
}

.header-list-group {
    /* flex-direction: column;
    flex-wrap: wrap; */
}

a {
    padding: 16px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: black;
}



.header-logo {
    background-color: red;
    display: block;
}

.badge {
    display: inline;
    font-size: 14px;
    padding: 1px 6px;
    background: #000;
    border-radius: 50%;
}

.header-notifications {
    display: none;
    position: absolute;
    left: -1px;
    font-size: 14px;
    white-space: nowrap;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

li:hover .header-notifications {
    display: block;
  }